@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*variaveis*/
:root {
    --color1: #ffffff;
    --color2: #f8f1e6;
    --color3: #ccd8d6;
    --color4: #f4e7e0;
}

/*configuração geral*/
* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 15pt;
}

/*corpo*/
body {
    background-color: var(--color2);
}

/*-----------ÁREA DE LOGIN----------------*/
/*imagem de login*/

img {
    width: 600px;
    opacity: 50%;
    border-radius: 20px;
}

/*Aréa de login geral*/
.login-grid {
    background-color: var(--color3);
    width: 900px;
    height: 450px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 650px 100px;
    margin: auto;
    margin-top: 10%;
}

/*formulario*/
.login form {
    margin-top: 50%;
    color: var(--color1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

/*inputs de login*/
.login input {
    border-radius: 20px;
    padding: 2px;
    border: none;
    width: 200px;
}

/*Botão de login*/

.login button {
    padding: 8px;
    width: 70px;
    border-radius: 20px;
    border: none;
    background-color: var(--color1);
    color: #9ba5a3;
    width: 200px;
}

/*---------ARÉA DE PAINEL PRINCIPAL----------------*/

/*header - PAINEL PRINCIPAL*/

.nav {
    text-align: center;
    margin-left: 17%;
}

/*botões header*/
.nav button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9ba5a3;
    font-size: 13pt;
    color: #28524a;
    margin-top: 20px;
}

.bt-green {
    background-color: #4c887c;
}

.bt-light {
    background-color: #f4e7e0;
}

.cad-p {
    margin-left: 60%;
}

/*icon do header*/

.perfil {
    float: right;
    width: 100px;
}

/*Menu lateral*/
.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #9ba5a3;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 15pt;
    gap: 25px;
}

/*img de menu*/
.sidebar img {
    margin-top: 50px;
    margin-left: 20px;
    padding: 30px;
    width: 150px;
    float: left;
    background-color: #f5f5f5;
}

.sidebar i {
    font-size: 21pt;
    margin-left: 10%;
}

/*link side bar*/
.sidebar a {
    text-decoration: none;
    color: #28524a;
}

/*-------------ÁREA DE CARDS---------------- */
/*Cards de função*/

.function {
    margin-top: 2%;
    margin-left: 30%;
    display: flex;
    gap: 60px;
}

.card {
    text-align: center;
    background-color: #bfc5c4;
    width: 250px;
    height: 95px;
    border-radius: 10px;
    color: #5b887f;
    box-shadow: 2px 2px 3px 3px #48736a37;
}

.card i {
    font-size: 20pt;
}

.qtd {
    font-size: 20pt;
    font-weight: bolder;
}

/*---------------CARDS DE INFORMAÇÕES-----------------*/

/* cotainer geral */
.container.info {
    margin-left: 20%;
    display: grid;
    grid-template-areas: "item-1 item-2";
    margin-left: 23%;
}

/*card direito*/
.container-eventos {
    grid-area: item-1;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 100px;
    border-radius: 20px;
    color: #5b887f;
    width: 600px;
    height: 200px;
    text-align: center;
    box-shadow: 2px 2px 3px 3px #48736a37;
}

/*card direito*/
.container-atendimento {
    grid-area: item-2;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 100px;
    border-radius: 20px;
    color: #5b887f;
    width: 600px;
    height: 200px;
    text-align: center;
    box-shadow: 2px 2px 3px 3px #48736a37;
}

/*butã0 dos cards*/
.container.info button {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #f4e7e0;
    color: #4c887c;
    width: 400px;
}

/*------------caixa de observação---------------*/

.container-obs {
    margin-left: 23%;
    margin-top: 3%;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 1350px;
    color: #5b887f;
    border-radius: 12px;
    box-shadow: 2px 2px 3px 3px #48736a37;
}

.container-obs textarea {
    background-color: #f4e7e0;
    width: 900px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #64a497;
}

.container-obs button {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #f4e7e0;
    color: #4c887c;
    width: 400px;
}

/* ---------------Aréa de ATendimento--------------- */

.cab {
    margin-left: 15%;
    font-size: 17pt;
}

.search {
    background-color: #ffffff;
    margin-left: 15%;
    margin-top: 15px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #4c887c;
    width: 1500px;
}

.search #pesquisar {
    background-color: #ffffff;
    padding: 10px;
    width: 600px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 2px 2px #28524a7e;
}

.search button {
    float: right;
    padding: 10px;
    border: 1px solid #28524a;
    border-radius: 15px;
    color: #4c887c;
}

.container-atd {
    margin-left: 15%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    height: 500px;
    width: 79%;
}

.paciente-1 {
    border: 1px solid #4c887c;
    padding: 10px;
    border-radius: 15px;
    color: #4c887c;

}

/* --------------------RELATORIOS---------------------- */

.container-arqv {
    margin-left: 15%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    height: 500px;
    width: 79%;
}

.rel-1 {
    border: 1px solid #4c887c;
    padding: 10px;
    border-radius: 15px;
    color: #4c887c;
}

.container-arqv button {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #28524a;
    background-color: #b9f1e6;
    color: #23312e;
}

/* ---------------------------EVENTOS-------------------------- */

.container-evt {
    margin-left: 15%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    height: 500px;
    width: 79%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
}

.box-1 {
    margin-top: 50px;
    border: 1px solid #23312e;
    padding: 20px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px #23312e81;
}