/*variaveis*/
:root {
    --color1: #ffffff;
    --color2: #f8f1e6;
    --color3: #ccd8d6;
    --color4: #f4e7e0;
}

/*configuração geral*/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*corpo*/
body {
    background-color: var(--color2);
}

/*-----------ÁREA DE LOGIN----------------*/
/*imagem de login*/

img {
    width: 600px;
    opacity: 50%;
    border-radius: 20px;
}

/*Aréa de login geral*/
.login-grid {
    background-color: var(--color3);
    width: 900px;
    height: 450px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 650px 100px;
    margin: auto;
    margin-top: 10%;
}

/*formulario*/
.login form {
    margin-top: 50%;
    color: var(--color1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

/*inputs de login*/
.login input {
    border-radius: 20px;
    padding: 2px;
    border: none;
    width: 200px;
}

/*Botão de login*/

.login button {
    padding: 8px;
    width: 70px;
    border-radius: 20px;
    border: none;
    background-color: var(--color1);
    color: #9ba5a3;
    width: 200px;
}

/*---------ARÉA DE PAINEL PRINCIPAL----------------*/

/*header - PAINEL PRINCIPAL*/

.nav {
    text-align: center;
    margin-left: 17%;
}

.cad-p {
    margin-left: 60%;
}

/*icon do header*/

.perfil {
    float: right;
    width: 100px;
}

/*Menu lateral*/
.sidebar {
    position: absolute;
    width: 200px;
    height: 100vh;
    background-color: #9ba5a3;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 15pt;
    gap: 25px;
}

/*img de menu*/
.sidebar img {
    width: 150px;
    float: left;
}

.sidebar i {
    font-size: 21pt;
    margin-left: 10%;
}

/*-------------ÁREA DE CARDS---------------- */
/*Cards de função*/

.function {
    margin-top: 2%;
    margin-left: 25%;
    display: flex;
    gap: 60px;
}

.card {
    text-align: center;
    background-color: #bfc5c4;
    width: 350px;
    height: 105px;
    border-radius: 10px;
    color: #5b887f;
}

.card i {
    font-size: 20pt;
}

.qtd {
    font-size: 20pt;
    font-weight: bolder;
}

/*---------------CARDS DE INFORMAÇÕES-----------------*/

/* cotainer geral */
.container.info {
    margin-left: 20%;
    display: grid;
    grid-template-areas: "item-1 item-2";
    margin-left: 23%;
}

/*card direito*/
.container-eventos {
    grid-area: item-1;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 100px;
    border-radius: 20px;
    color: #5b887f;
    width: 600px;
    height: 200px;
    text-align: center;
}

/*card direito*/
.container-atendimento {
    grid-area: item-2;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 100px;
    border-radius: 20px;
    color: #5b887f;
    width: 600px;
    height: 200px;
    text-align: center;
}

/*butã0 dos cards*/
.container.info button {
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #5b887f;
    color: #e7f1ef;
    width: 400px;
}

/*------------caixa de observação---------------*/